#albums {
    text-decoration: none;
}

#tracks {
    text-decoration: none;
}

#artists {
    text-decoration: none;
}


/* ----------------- */

.column-1 {
    width: 100%;
    float: left;
}

.column-2 {
    width: 50%;
    float: left;
}

.column-3 {
    width: 33.33%;
    float: left;
}

.column-4 {
    width: 25%;
    float: left;
}

.column-5 {
    width: 20%;
    float: left;
}

.column-6 {
    width: 16.66%;
    float: left;
}

.column-75 {
    width: 75%;
    float: left;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ----------------- */