@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
html {
    background-color: #191919;
    font-family: 'Righteous', cursive;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#titulo {
    color: #ffffff;
    padding-left: 4%;
    font-size: 7vh;
    letter-spacing: 1.5px;
}

.albums {
    text-decoration: none;
    min-width: 270px;
    min-height: 60px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    color: #191919;
    font-size: 3vh;
    background: #d40034;
    background: linear-gradient(90deg, rgba(212, 0, 52, 1) 0%, rgba(212, 0, 52, 1) 100%);
    border: none;
    border-radius: 1000px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.albums:hover,
.albums:focus {
    color: black;
    transform: translateY(-6px);
}

.tracks {
    text-decoration: none;
    min-width: 320px;
    min-height: 100px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    color: #191919;
    font-size: 3.7vh;
    background: #d40034;
    background: linear-gradient(90deg, rgba(212, 0, 52, 1) 0%, rgba(212, 0, 52, 1) 100%);
    border: none;
    border-radius: 1000px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.tracks:hover,
.tracks:focus {
    color: black;
    transform: translateY(-6px);
}

.artists {
    text-decoration: none;
    min-width: 270px;
    min-height: 60px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    color: #191919;
    font-size: 3vh;
    background: #d40034;
    background: linear-gradient(90deg, rgba(212, 0, 52, 1) 0%, rgba(212, 0, 52, 1) 100%);
    border: none;
    border-radius: 1000px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.artists:hover,
.artists:focus {
    color: black;
    transform: translateY(-6px);
}


/* -----------  ----------- */

.zoom:hover {
    transform: scale(1.2);
    transition-duration: 0.7s;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-1 {
    width: 100%;
    float: left;
}

.column-2 {
    width: 50%;
    float: left;
}

.column-3 {
    width: 33.33%;
    float: left;
}

.column-4 {
    width: 25%;
    float: left;
}

.column-5 {
    width: 20%;
    float: left;
}

.column-6 {
    width: 16.66%;
    float: left;
}

.column-75 {
    width: 75%;
    float: left;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ----------- RESPONSIVE ----------- */

@media only screen and (max-width: 1050px) {
    .column-2 {
        width: 100%;
    }
    .column-3 {
        width: 100%;
    }
    .column-4 {
        width: 50%;
    }
    /* -----------  ----------- */
    .center {
        height: 22vh;
    }
    #titulo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 4%;
        font-size: 4vh;
    }
}